<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{{url_for('static', filename='img/logo/logo.png')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
  <title>CellShop | Início</title>
</head>
<body>
  <header class="cabecalho">
    <a href="{{url_for('index')}}" class="cabecalho__logo">
      <img class="cabecalho__logo__imagem" src="{{url_for('static', filename='img/logo/logo.png')}}" alt="Logo da Cell Shop" />
    </a>
    <ul class="cabecalho__links">
      <li><a href="{{url_for('index')}}" style="color: var(--cor-quartenaria);">Home</a>
      <li><a href="{{url_for('pelicula')}}">Peliculas</a>
      <li><a href="{{url_for('capa')}}">Capas</a>
      <li><a href="{{url_for('fone')}}">Fones</a>
      <li><a href="{{url_for('carregador')}}">Carregadores</a>
      <li><a href="{{url_for('cabo_adaptador')}}">Cabos e Adaptadores</a> 
      <li><a href="{{url_for('Vendas')}}">Vendas</a> 
    </ul>
  </header>

  <main class="banners">
    <div class="banners__item">
      <img src="{{url_for('static', filename='img/banners/banner-art-notext.png')}}" alt="banner ilustrativo" >
      <h2>Encontre o que mais combina com você.</h2>
    </div>
    <div class="banners__item">
      <img src="{{url_for('static', filename='img/banners/banner1.png')}}" alt="banner" >
      <h2>Qualidade e Preço justo sempre.</h2>
    </div>
    <div class="banners__item__full">
      <a href="{{url_for('pelicula')}}">
        <img src="{{url_for('static', filename='img/banners/banner-promo-top1.png')}}" alt="banner de divulgação da CellShop" >
      </a>
    </div>
  </main>
  <footer class="rodape">
    <p>Todos os direitos reservados á CellShop @2024</p>
    <a href="{{url_for('index')}}" class="cabecalho__logo">
      <img class="cabecalho__logo__imagem" src="{{url_for('static', filename='img/logo/logo.png')}}" alt="Logo da Cell Shop" />
    </a>
    <p>Agradecemos á preferencia!</p>
  </footer>

</body>
</html>