<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{{url_for('static', filename='img/logo.png')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
  <title>Cell Tec | Home</title>
</head>
<body>
  <header class="cabecalho">
    <img class="cabecalho__logo" src="{{url_for('static', filename='img/logo.png')}}" alt="Logo da Cell Shop" />
    <ul class="cabecalho__links">
      <li><a href="{{url_for('index')}}" style="color: var(--cor-quartenaria);">Home</a>
      <li><a href="{{url_for('pelicula')}}">Peliculas</a>
      <li><a href="{{url_for('capa')}}">Capas</a>
      <li><a href="{{url_for('fone')}}">Fones</a>
      <li><a href="{{url_for('carregador')}}">Carregadores</a>
      <li><a href="{{url_for('cabo_adaptador')}}">Cabos e Adaptadores</a> 
      <li><a href="{{url_for('Vendas')}}">Vendas</a> 
    </ul>
  </header>

  <main class="divulgacao">
    <article class="divulgacao__cartao">
      <img src="{{url_for('static', filename='img/banners/banner2.png')}}" alt="" >
      <h2>Encontre o que mais combina com você.</h2>
    </article>
    <article class="divulgacao__cartao">
      <img src="{{url_for('static', filename='img/banners/banner1.png')}}" alt="banner de divulgação da loja" >
      <h2>Qualidade e Preço justo sempre.</h2>
    </article>
    <article class="divulgacao__cartao">
      <img src="{{url_for('static', filename='img/banners/banner3.png')}}" alt="" >
      <h2>Nº 1 em satisfação do cliente!</h2>
    </article>
  </main>
  <footer class="rodape">
    <p>Todos os direitos reservados á Cell Tec @2024</p>
    <img class="cabecalho__logo" src="{{url_for('static', filename='img/logo.png')}}" alt="Logo da Cell Shop" />
    <p>Agradecemos á preferencia!</p>
  </footer>

</body>
</html>