<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{{url_for('static', filename='img/logo/logo.png')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" >
  <title>CellShop</title>
</head>
<body>
  <header class="cabecalho">
    <a href="{{url_for('index')}}" class="cabecalho__logo">
      <img class="cabecalho__logo__imagem" src="{{url_for('static', filename='img/logo/logo.png')}}" alt="Logo da Cell Shop" />
    </a>
    <ul class="cabecalho__links">
      <li><a href="{{url_for('index')}}">Home</a>
      <li><a href="{{url_for('pelicula')}}">Peliculas</a>
      <li><a href="{{url_for('capa')}}">Capas</a>
      <li><a href="{{url_for('fone')}}" style="color: var(--cor-quartenaria);">Fones</a>
      <li><a href="{{url_for('carregador')}}">Carregadores</a>
      <li><a href="{{url_for('cabo_adaptador')}}">Cabos e Adaptadores</a> 
      <li><a href="{{url_for('Vendas')}}">Vendas</a> 
    </ul>
  </header>
  <main class="produtos">
    {% for row in fone %}
      <div class="produtos__item">
        <img src=static/img/{{row[4]}}  alt="imagem">
        <h2>{{row[1]}}</h2>
        <div class="produtos__item__dados">
          <p>Tipo: {{row[2]}}</p>
           <p>Marca: {{row[3]}}</p>
        </div>
        <button>{{row[5]}}</button>
      </div>
    {% endfor %}
  </main>
  <footer class="rodape">
    <p>Todos os direitos reservados á CellShop @2024</p>
    <a href="{{url_for('index')}}" class="cabecalho__logo">
      <img class="cabecalho__logo__imagem" src="{{url_for('static', filename='img/logo/logo.png')}}" alt="Logo da Cell Shop" />
    </a>
    <p>Agradecemos á preferencia!</p>
  </footer>
</body>
</html>